/* FONTS */

@font-face {
    font-family: Oswald;
    src: 
    url(../fonts/Oswald-Bold.woff2) format(woff2),
    url(../fonts/Oswald-Bold.woff) format(woff),
    url(../fonts/Oswald-Bold.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: normal;
    src:
    url(../fonts/Inter-Regular.woff2) format(woff2),
    url(../fonts/Inter-Regular.woff) format(woff),
    url(../fonts/Inter-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src:
    url(../fonts/Inter-Bold.woff2) format(woff2),
    url(../fonts/Inter-Bold.woff) format(woff),
    url(../fonts/Inter-Bold.ttf) format(truetype);
    font-display: swap;
}

/* STYLES */

.mods-selection {
    display: none;
}

.mods-selection input:hover {
    cursor: pointer;
}

.mods-selection input:checked {
    background: var(--bg-color);
}

@media screen and (min-width: 850px) {
    .infos {
        display: flex;
        gap: 2rem;
    }
    
    .infos hr {
        margin-block: 0;
        margin-inline: 3rem;
    }
}

h2 {
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    font-family: Oswald, Inter, sans-serif;
    font-weight: bold;
    color: var(--txt-main-color);
    margin-top: 0;
}

h3 {
    font-size: 1.3rem;
}

section:not(:first-child), section > div {
    margin: clamp(1.5rem, 6vw, 5rem) auto;
}

/* .fake-button {
    display: inline-block;
    background-color: var(--bg-color);
    color: white;
    padding: 0.3rem 2rem;
    border-radius: 6px;
} */

.hero-title {
    color: white;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
    text-align: center;
    font-family: Oswald, sans-serif;
    font-size: clamp(2.5rem, 7vw, 5.5rem);
    font-weight: bold;
    margin: 0;
    padding-block: 1.4em;
    background: url(../images/compressed/FRT-Lobby-1920x1080.webp) center center no-repeat;
    background-size: cover;
}

.mods-intro {
    display: flex;
    gap: clamp(1rem, 4vw , 3rem);
    flex-wrap: wrap;
}

.mods-intro h2 {
    margin-bottom: 0.8rem;
}

.mods-intro > :first-child {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 350px;
}

.mods-intro > :last-child {
    flex-shrink: 1;
    flex-grow: 1.5;
    flex-basis: 550px;
}

.mods-intro img {
    min-height: 100%;
    width: 100%;
    border-radius: 10px;
}

.mods-preview {
    text-align: center;
}

.mods-images {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,250px), 1fr));
    gap: 2rem;
}

.mod-image {
    aspect-ratio: 1.6;
}

.highlighted {
    color: var(--txt-secondary-color);
    text-align: center;
    font-size: clamp(20px,3vw,27px);
    font-weight: bold;
    /* margin-block: 3rem; */
}

.legend {
    font-weight: bold;
}

.mods-selection {
    margin-block: 1.5rem;
}

.mods-selection input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgrey;
}

.server-infos {
    background: url(../images/compressed/7DTD-Fighting-1920x1080.webp) center/cover no-repeat;
    padding-block: clamp(3rem, 5vw, 6rem);
}

.server-infos > h2 {
    text-align: center;
    background: linear-gradient(90deg, transparent 5%, rgba(0,0,0,0.55), transparent 95%);
}

.infos {
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.65);
    border-radius: 10px;
    padding: clamp(1rem, 2.5vw, 3rem) clamp(1rem, 2.5vw, 3rem);
}

.infos hr {
    border: 2px solid var(--txt-accent-color);
    border-radius: 2px;
    margin-block: clamp(2rem, 3vw, 3rem);
    margin-inline: 0;
}

.infos-title { 
    max-width: max-content;
    margin: 0 auto clamp(1.5rem, 2vw, 3rem) auto;
    padding: 0.3rem clamp(1.5rem, 2.5vw, 4rem);

    color: var(--txt-accent-color);
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: bold;
    font-style: oblique 10deg;

    background:  radial-gradient(rgba(223, 190, 0, 0.247), rgba(0,0,0,0.2) 75%), rgb(105, 16, 0);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.50);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
}

.server-infos ul {
    padding-left: 1rem;
    color: white;
    font-size: clamp(0.85rem, 1.5vw, 1rem);
    font-weight: 700;
    text-transform: uppercase;
}

.server-infos li:not(:first-child) {
    margin-top: 1rem;
}

.server-infos span {
    color: var(--txt-accent-color);
}

.staff-title {
    text-align: center;
}

.staff-members {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 2rem;
    justify-content: center;
    text-align: center;
}

.staff-members img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.staff-members figure {
    margin-inline: 2rem;
}

.staff-members figcaption {
    margin-top: 1.5rem;
}

.staff-members a {
    color: var(--txt-secondary-color);
    font-size: 25px;
    font-weight: bold;
}

.staff-responses {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.staff-responses > *:first-child{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 550px;
}

.staff-responses > *:last-child{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 800px;
}

.staff-responses > *:last-child img {
    min-width: 100%;
}

.staff-responses h3 {
    color: var(--txt-secondary-color);
}

@media screen and (max-width: 400px) {
    .mods-intro > :last-child {
        display: none;
    }
}