@font-face {
    font-family: Oswald;
    font-weight: bold;
    src:
        url(../fonts/Oswald-Bold.woff2) format(woff2),
        url(../fonts/Oswald-Bold.woff) format(woff),
        url(../fonts/Oswald-Bold.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Oswald;
    font-weight: normal;
    src:
        url(../fonts/Oswald-Regular.woff2) format(woff2),
        url(../fonts/Oswald-Regular.woff) format(woff),
        url(../fonts/Oswald-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: normal;
    src:
        url(../fonts/Inter-Regular.woff2) format(woff2),
        url(../fonts/Inter-Regular.woff) format(woff),
        url(../fonts/Inter-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src:
    url(../fonts/Inter-Bold.woff2) format(woff2),
    url(../fonts/Inter-Bold.woff) format(woff),
    url(../fonts/Inter-Bold.ttf) format(truetype);
    font-display: swap;
}

h1 {
    font-size: 2.25rem;
    font-family: Oswald;
    text-align: center;
    color: var(--txt-main-color);
}

h2 {
    margin-block: 2rem;
    font-size: 2rem;
    color: var(--txt-secondary-color);
    border-bottom: 1px solid rgb(200,200,200);
}

h3 {
    margin-block: 2rem;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(200,200,200);
}