@font-face {
    font-family: Oswald;
    font-weight: bold;
    src: 
    url(../fonts/Oswald-Bold.woff2) format(woff2),
    url(../fonts/Oswald-Bold.woff) format(woff),
    url(../fonts/Oswald-Bold.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Oswald;
    font-weight: normal;
    src: 
    url(../fonts/Oswald-Regular.woff2) format(woff2),
    url(../fonts/Oswald-Regular.woff) format(woff),
    url(../fonts/Oswald-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: normal;
    src:
    url(../fonts/Inter-Regular.woff2) format(woff2),
    url(../fonts/Inter-Regular.woff) format(woff),
    url(../fonts/Inter-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src:
    url(../fonts/Inter-Bold.woff2) format(woff2),
    url(../fonts/Inter-Bold.woff) format(woff),
    url(../fonts/Inter-Bold.ttf) format(truetype);
    font-display: swap;
}

.text-centered {
    text-align: center;
}

.hidden {
    display: none;
}

h2 {
    font-family: Oswald, Inter, sans-serif;
    font-size: clamp(30px,5vw,44px);
    font-weight: bold;
    color: var(--txt-main-color);
    margin-top: 0;
}

h3 {
    font-family: Oswald, Inter, sans-serif;
    font-size: clamp(30px,5vw,44px);
    font-weight: bold;
    color: var(--txt-main-color);
    margin-top: 0;
}

h3 a {
    all: inherit;
    cursor: pointer;
}


.mods-selection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 2rem;
    justify-content: space-between;
}

html:not(.js-active) fieldset { 
    display: none;
}

legend {
    font-size: 18px;
}

.mods-selection label {
    display: block;
    font-size: 16px;
}

.mods-selection select {
    font-size: 16px;
}

section > div {
    margin: 4rem auto;
}

section {
    margin-block: 5rem;
}

.mods > div {
    margin-block: 3rem;
}

.mod-title {
    color: var(--txt-secondary-color);
    font-size: clamp(22px,3vw,27px);
    font-weight: normal;
}

.mod-name {
    font-weight: bold;
}

.mod-infos {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.mod-infos > *:first-child{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 500px;

    margin-inline: auto;
    border-radius: 3px;
    box-shadow: 5px 5px 4px rgb(200,200,200);
}

.mod-infos > *:last-child{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
}

.mod-thumbnail img {
    min-height: 100%;
}

.tags {
    color: var(--txt-secondary-color);
    font-weight: bold;
}

.mod-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.release-date {
    font-size: 19px;
    font-weight: bold;
}

html:not(.js-active) .output {
    display: none;
}

.mod-count {
    font-size: 1.1rem;
    color: var(--txt-secondary-color);
    font-weight: bold;
}