@font-face {
    font-family: Oswald;
    font-weight: bold;
    src:
        url(../fonts/Oswald-Bold.woff2) format(woff2),
        url(../fonts/Oswald-Bold.woff) format(woff),
        url(../fonts/Oswald-Bold.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: normal;
    src:
        url(../fonts/Inter-Regular.woff2) format(woff2),
        url(../fonts/Inter-Regular.woff) format(woff),
        url(../fonts/Inter-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src:
    url(../fonts/Inter-Bold.woff2) format(woff2),
    url(../fonts/Inter-Bold.woff) format(woff),
    url(../fonts/Inter-Bold.ttf) format(truetype);
    font-display: swap;
}