RewriteEngine on
# PRODUCTION
RewriteCond %{HTTP_HOST} ^lesfraternels.fr$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.lesfraternels.fr$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

# PRE-PRODUCTION
RewriteCond %{HTTP_HOST} ^dev.lesfraternels.fr$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.dev.lesfraternels.fr$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]


# DO NOT REMOVE THIS LINE AND THE LINES BELOW PWPROTECTID:gWWg9YrUiZ
AuthType Basic
AuthName "Restricted Access"
AuthUserFile /home/u547807080/domains/lesfraternels.fr/public_html/.htpasswd
Require valid-user
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE gWWg9YrUiZ:PWPROTECTID