/* TRANSITION DE PAGES */

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.gallery.gallery--with-caption .gallery__item {
    position: relative;
}

.gallery__item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
}

.gallery__item-caption {
    position: absolute;
    inset: auto 0 0 0;

    margin: 0;
    padding: 0.5rem;

    background-color: var(--bg-color);

    text-align: center;
    font-weight: bold;
    color: white;
}


/* GENERALITES */

html {
    --bg-color: #710000;
    
    --txt-main-color: #2DE100;
    --txt-secondary-color: #AF1900;
    --txt-accent-color: #FFE500;
}

body{
    position: relative;
    margin: 0;
    font-family: Inter, sans-serif;
    line-height: 1.6;
}

* {
    letter-spacing: 0.3px;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img {
    height: auto;
    display: block;
    max-width: 100%;
    object-fit: cover;
}

a[href=""] {
    color: rgb(200,200,200);
    text-decoration: line-through;
    pointer-events: none;
}

a:hover{
    text-decoration: underline;
}

header, footer {
    background-color: var(--bg-color);

    font-size: clamp(0.8rem, 1.5vw, 1rem);
    font-weight: bold;
    color: white;

    padding-block: 0.75rem;
}

header {
    position: relative;
}

/* UTILITY CLASSES */

.smallest {max-width: min(100vw - 2.5rem, 400px); margin-inline: auto;}
.tiny {max-width: min(100vw - 2.5rem, 650px); margin-inline: auto;}
.narrow {max-width: min(100vw - 2.5rem, 900px); margin-inline: auto;}
.medium {max-width: min(100vw - 2.5rem, 1100px); margin-inline: auto;}
.wide {max-width: min(100vw - 2.5rem, 1400px); margin-inline: auto;}
.ultrawide {max-width: min(100vw - 2.5rem, 1800px); margin-inline: auto;}

/* STYLES */

header *, footer * {
    margin-block: 0;
}

header a, footer a {
    color: inherit;
}

header button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}

header button:hover {
    text-decoration: underline;
}

.website-title {
    font-weight: bold;
    font-size: clamp(1.3rem, 3vw ,2rem);
    letter-spacing: -1.75px;
    white-space: nowrap;
}

.primary-navigation, .footer-navigation {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.icon-link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.server-icon {
    width: auto;
    max-height: clamp(2rem, 5vw, 3rem);
    aspect-ratio: 1;
}

.header-links ul, .footer-links ul {
    display: flex;
    gap: 18px;
    flex-wrap: wrap;

    padding-left: 0;

    list-style-type: none;
}

@media screen and (max-width: 475px) {
    .footer-navigation > * {
        flex-grow: 1;
    }

    .header-links ul, .footer-links ul, .icon-link {
        justify-content: center;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    background-color: unset;
    border: 0;
}

@media screen and (max-width: 800px) {   
    body:has(.header-links ul:where([data-expanded="true"])) {
        overflow-y: scroll;
        position: fixed;
        width: 100%;
    }

   .hamburger {
        --hamburger-gap: 0.25rem;

        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: var(--hamburger-gap);

        position: relative;
        z-index: 1000;
    }

   .burger-line {
        --line-height: 0.25rem;

        display: block;
        width: 1.6rem;
        height: 0.25rem;
        background-color: white;
        border-radius: 10px;
        transition: opacity 250ms, transform 600ms ease-out;
    }

   button:where([aria-expanded="true"]) .burger-line:first-child {
        transform: translateY(calc(var(--line-height) + var(--hamburger-gap))) rotate(225deg);
    }

   button:where([aria-expanded="true"]) .burger-line:nth-child(2) {
        opacity: 0;
    }

   button:where([aria-expanded="true"]) .burger-line:last-child {
        transform: translateY(calc(var(--line-height) * -1 - var(--hamburger-gap))) rotate(-225deg);
    }

   .header-links ul {
        display: none;

        position: absolute;
        z-index: 1000;
        inset: 100% 0 auto 0;
        height: 100vh;

        padding: 1.75rem;

        background-color: var(--bg-color);
    }

   .header-links ul:where([data-expanded="true"]) {
       display: flex;
       flex-direction: column;
       row-gap: 1rem;
       justify-content: start;
    }
}