@font-face {
    font-family: Oswald;
    font-weight: bold;
    src:
        url(../fonts/Oswald-Bold.woff2) format(woff2),
        url(../fonts/Oswald-Bold.woff) format(woff),
        url(../fonts/Oswald-Bold.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Oswald;
    font-weight: normal;
    src:
        url(../fonts/Oswald-Regular.woff2) format(woff2),
        url(../fonts/Oswald-Regular.woff) format(woff),
        url(../fonts/Oswald-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: normal;
    src:
        url(../fonts/Inter-Regular.woff2) format(woff2),
        url(../fonts/Inter-Regular.woff) format(woff),
        url(../fonts/Inter-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src:
    url(../fonts/Inter-Bold.woff2) format(woff2),
    url(../fonts/Inter-Bold.woff) format(woff),
    url(../fonts/Inter-Bold.ttf) format(truetype);
    font-display: swap;
}

.text-centered {
    text-align: center;
}

.two-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    gap: 2rem;
}

h1,
h2 {
    font-family: Oswald;
    font-weight: bold;
}

h1 {
    font-size: clamp(4rem, 6vw, 6.5rem);
}

h2 {
    font-size: 36px;
    color: var(--txt-main-color);
}

h3 {
    font-size: 20px;
}

img {
    margin-inline: auto;
}

blockquote {
    border-left: 5px solid lightgrey;
    background-color: rgb(250,250,250);
    padding-left: 1rem;
    margin-left: 0;
}

section + section {
    margin-block: 4rem;
}

.hero-banner {
    font-family: Oswald;
    font-weight: normal;
    color: white;
    padding-block: clamp(1rem, 2vw, 2rem);
    background: url(../images/others/7daystodie-wallpaper-fight-1920x1080.webp) center/cover no-repeat;
    background: var(--mod-banner) center/cover no-repeat;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.hero-filter {
    backdrop-filter: blur(1px);
}

.hero-title {
    padding-block: clamp(5rem, 10vw, 10rem);
    text-shadow:
        1px 1px 0 black,
        1px -1px 0 black,
        -1px -1px 0 black,
        -1px 1px 0 black;
}

.hero-title > * {
    margin-block: 0.33rem;
}

.hero-title p {
    font-size: clamp(1.3rem, 2vw, 2rem);
    font-weight: bold;
    font-family: Inter;
    color: var(--txt-main-color);
}

.hero-title .tags {
    max-width: fit-content;
    margin-inline: auto;
    
    text-shadow: none;
    color: var(--txt-main-color);
    font-weight: bold;
    padding: 0.25rem 2rem;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    background-color: rgba(0,0,0,0.65);
}

.mod-infos {
    padding-block: 1.5rem;
    background-color: rgba(0, 0, 0, 0.80);
}

@media screen and (min-width: 700px) {
    .mod-infos-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }  
}

.mod-infos p {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    margin-block: 0;
}

.mod-infos span {
    color: var(--txt-secondary-color);
    font-weight: bold;
}