/* FONTS */

@font-face {
    font-family: Oswald;
    font-weight: bold;
    src: 
    url(../fonts/Oswald-Bold.woff2) format(woff2),
    url(../fonts/Oswald-Bold.woff) format(woff),
    url(../fonts/Oswald-Bold.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Oswald;
    font-weight: normal;
    src: 
    url(../fonts/Oswald-Regular.woff2) format(woff2),
    url(../fonts/Oswald-Regular.woff) format(woff),
    url(../fonts/Oswald-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: normal;
    src:
    url(../fonts/Inter-Regular.woff2) format(woff2),
    url(../fonts/Inter-Regular.woff) format(woff),
    url(../fonts/Inter-Regular.ttf) format(truetype);
    font-display: swap;
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src:
    url(../fonts/Inter-Bold.woff2) format(woff2),
    url(../fonts/Inter-Bold.woff) format(woff),
    url(../fonts/Inter-Bold.ttf) format(truetype);
    font-display: swap;
}

/* UTILITY CLASSES */

.text-centered {
    text-align: center;
}

.hidden {
    display: none;
}

/* GENERAL STYLES */

h2 {
    font-family: Oswald, Inter, sans-serif;
    font-size: clamp(30px,5vw,44px);
    font-weight: bold;
    color: var(--txt-main-color);
    margin-top: 0;
}

h3 {
    font-family: Oswald, Inter, sans-serif;
    font-size: clamp(30px,5vw,44px);
    font-weight: bold;
    color: var(--txt-main-color);
    margin-top: 0;
}

h3 a {
    all: inherit;
    cursor: pointer;
}

/* MAIN CONTENT */

.mods-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: min(5vw, 4rem);
}

section > div {
    margin: 4rem auto;
}

section {
    margin-block: 5rem;
}

/* LEFT SIDEBAR (namespace: .content-sidebar) */

.content-sidebar {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: min-content;

    white-space: nowrap;

    background-color: #f0f0f0;
    padding: 2rem;
}

.content-sidebar .mods-filters {
    display: flex;
    gap: 1rem 2rem;
    flex-wrap: wrap;
}

.content-sidebar fieldset {
    flex-grow: 1;

    border: none;
}

.content-sidebar hr {
    /* display: none; */
    border: 0;
    margin-block: 0.5rem;
}

.content-sidebar .mods-selection-title,
.content-sidebar .tags-selection-title {
    width: 100%;

    margin-bottom: 0.5em;

    border-bottom: 2px solid grey;

    font-size: 1.25rem;
    font-weight: bold;
}

.content-sidebar .mods-selection {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.content-sidebar .tags-selection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.content-sidebar .mods-radio-container {
    margin-left: 1rem;
}

/* RIGHT SIDEBAR (namespace: .mods) */

.mods {
    flex-grow: 1000;
    flex-shrink: 0;
    flex-basis: 800px;
}

.mods > div:not(:last-child) {
    margin-bottom: 3rem;
}

.mods .mod-title {
    color: var(--txt-secondary-color);
    font-size: clamp(22px,3vw,27px);
    font-weight: normal;
}

.mods .mod-name {
    font-weight: bold;
}

.mods .mod-infos {
    display: flex;
    align-items: center;
    gap: 0.5rem 3rem;
    flex-wrap: nowrap;
}

.mods .mod-infos > *:first-child{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 450px;

    margin-inline: auto;
    border-radius: 3px;
    box-shadow: 5px 5px 4px rgb(200,200,200);
}

.mods .mod-infos > *:last-child{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.mods .mod-thumbnail img {
    object-fit: cover;
    aspect-ratio: 960/540;
}

.mods .tags {
    color: var(--txt-secondary-color);
    font-weight: bold;
}

.mods .mod-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}

.mods .release-date {
    font-size: 19px;
    font-weight: bold;
}

.mods .mod-count {
    font-size: 1.1rem;
    color: var(--txt-secondary-color);
    font-weight: bold;
}

.mod .is-used,
.mod .is-not-used {
    padding: 0.5rem 1rem;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}

.mod .is-used {
    background-color: green;
}

.mod .is-not-used {
    background-color: red;
}

/* ## NO-JS */

.no-js fieldset { 
    display: none;
}

.no-js .output {
    display: none;
}